// Animated on Scroll
@import aos

// Foundation
@import foundation_settings
@import foundation
+foundation-global-styles
+foundation-typography

=centered-content
  padding: 1em
  max-width: $global-width
  margin: 0 auto

section
  +centered-content
